@media screen and (max-width: 1560px) {
    .cards{
        grid-template-columns: repeat(3, 1fr);
      }
}
@media screen and (max-width: 1080px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
      }
}
@media screen and (max-width: 710px) {
    .cards{
        grid-template-columns: repeat(1, 1fr);
      }
}