* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NavBar Section */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 70px;
}
.nav-item {
  display: flex;
  list-style: none;
}
.nav-item > li > a {
  text-decoration: none;
  color: black;
  margin-left: 18px;
  font-weight: 500;
  font-size: 18px;
}
.icon {
  font-size: 20px;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #f8d01b08, #e9ca7a5e);
  height: 50vh;
}
.hero-text {
  width: 50%;
  margin-right: 50px;
}
.hero-text h1 {
  line-height: 1;
}
.hero-text p {
  font-weight: 500;
  font-size: 18px;
  margin: 15px 0;
}
.hero-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-img img {
  margin: 0 auto;
  width: 400px;
}

/* What Exist Section */
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.card {
  max-width: 300px;
  height: 333px;
  margin: 0 auto;
  box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 5px 26px rgba(0, 0, 0, 0.1);
}
.card img{
  width: 300px;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-heading-text {
  width: 70%;
}
.card-btn {
  width: 30%;
  display: flex;
  justify-content: end;
}

.card img{
  border-radius: 8px;
}
.card-text{
  padding: 14px;
}