* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.logo img {
  width: 70px;
}
.nav-item {
  display: flex;
  list-style: none;
}
.nav-item > li > a {
  text-decoration: none;
  color: black;
  margin-left: 18px;
  font-weight: 500;
  font-size: 18px;
}
.icon{
    font-size: 20px;
}
